.partnerContainer{
    background-color: #F8F9FA;
    padding:40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.partnerContainer>h1{
font-family: Proxima Nova A;
font-size: 38px;
font-weight: 600;
line-height: 52px;
letter-spacing: 0px;
text-align: left;
color:#2A2A2A;


}
.partnerContainer>div{
display: flex;
align-items: center;
gap: 132px;
}
.singlePartner{
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;

}
.singlePartner p{
font-family: Proxima Nova A;
font-size: 24px;
font-weight: 600;
line-height: 33px;
letter-spacing: 0px;
text-align: center;

}